@*  
	AUTHOR:     Judy Nguyen and Megan Konvicka
	COURSE:     ISTM 415
	PROGRAM:    Narwhal Dental Web App
	PURPOSE:    The about view gives an overview of Narwhal Dental. 
	HONOR CODE: On my honor, as an Aggie, I have neither given 
				nor received unauthorized aid on this academic work.
*@

@{
	ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>Narwhal Dentistry offers essential dentistry in College Station. Whether you want to maintain your dental health or obtain the smile of your dreams, we will work in alignment toward that goal. Call our office if you have any questions! Serving the local community is essential to our team, and we look forward to meeting and serving your family for all your dental care needs. </p>
