@*
	AUTHOR:     Judy Nguyen and Megan Konvicka
	COURSE:     ISTM 415
	PROGRAM:    Narwhal Dental Web App
	PURPOSE:    The index view lists Narwhal Dental action links.
	HONOR CODE: On my honor, as an Aggie, I have neither given
				nor received unauthorized aid on this academic work.
*@

@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>This is the Narwhal Dentist Home Page</p>
</div>
